<div class="jumbotron">
    <h1>API Capgemini Help</h1>
    <p class="lead"></p>
    <h2>Introdução</h2>
    <p>
        API CONTA - Consulta de saldos, saques e depósitos em suas contas.
    </p>
    <p></p>
    <section class="content-wrapper main-content clear-fix">
        <h2>Função:Verificar Conta</h2>
        <p>conta/getConta?cpf=numero do cpf &&senha= senha</p>
        <p>cpf = numero do cpf cadastrado na conta</p>
        <p>senha = senha cadastrada no banco</p>
        <p></p>
        <h2>Função: Efetuar Depósitos</h2>
        <p>conta/setDeposito?cpf=numero do cpf &&senha= senha &valor= valor &cc= conta</p>
        <p>cpf = numero do cpf cadastrado na conta</p>
        <p>senha = senha cadastrada no banco</p>
        <p>valor = valor em reais que será depositado</p>
        <p>cc = conta corrente onde será creditado o valor do deposito</p>
        <p></p>
        <h2>Função: Efetuar Saques</h2>
        <p>conta/setSaque?cpf=numero do cpf &&senha= senha &valor= valor &cc= conta</p>
        <p>cpf = numero do cpf cadastrado na conta</p>
        <p>senha = senha cadastrada no banco</p>
        <p>valor = valor em reais que será sacado</p>
        <p>cc = conta corrente onde será sacado o valor</p>

    </section>
</div>
