<h1>informe os paramentros para acesar:</h1>
<p>conta/getConta?cpf=numero do cpf &&senha= senha</p>
<p>conta/setDeposito?cpf=numero do cpf &&senha= senha &valor= valor &cc= conta</p>
<p>conta/setSaque?cpf=numero do cpf &&senha= senha &valor= valor &cc= conta</p>
